{{ define "main" }} {{ partial "lightbox.html" . }}
<article class="hub">
  {{ partial "page-head.html" . }}
  {{ .Content }}
</article>
<div class="leaves-grid">
  {{ $path := "/leaves/" }} {{ $leaves := readDir (printf "static%s" $path) }}
  <div class="grid">
    {{ range sort $leaves "Name" "desc" }} {{ if findRE "\\.jpeg$" .Name }} {{ $date := index (findRE "\\d{4}-\\d{2}-\\d{2}" .Name) 0 }}
    <div class="leaf">
      <a href="{{ $path }}{{ .Name }}">
        <img src="{{ $path }}{{ .Name }}" alt="Leaf note from {{ $date }}" />
      </a>
      <time datetime="{{ $date }}">{{ $date }}</time>
    </div>
    {{ end }} {{ end }}
  </div>
</div>
{{ end }}
