{{ define "main" }}
<section class="flaneur-header">
  <p><a href="/newsletter/">The Flâneur</a> &sdot; Dispatch {{ .File.BaseFileName }} &sdot; {{ .Params.date | time.Format "January 2, 2006" }}</p>
  <a href="/newsletter/"><img class="flaneur-logo" src="/ui/flaneur_logo.png" srcset="/ui/flaneur_logo@2x.png 2x, /ui/flaneur_logo@3x.png 3x" alt="The Flâneur" /></a>
</section>
<article class="flaneur">
  <h1>{{ .Title }}</h1>
  <p class="subtitle">{{ .Params.description }}</p>

  {{ .Content }}
</article>
{{ partial "flaneur-subscribe.html" . }} {{ end }}
