main {
  article {

    // About page - used in /about/
    &.about {
      img {
        @include readable-width();
      }
    }
  }

  // Objects list - used in /objects/
  .objects-list {
    list-style: none;
    padding: 0;
    span {
      margin-right: 0.5rem;
    }
  }
}
