{{ $allProjects := where .Site.RegularPages "Params.project" "!=" nil }} {{
$featuredPages := where .Site.Pages "Params.featured" true }} {{ $projects :=
first 6 (sort (where $featuredPages "Kind" "in" (slice "page" "section")) "Date"
"desc") }} {{ if gt (len $projects) 0 }}
<section class="project-year">
  <h1>Projects</h1>
  <p>
    A few projects I’m proud of and focused on. See all
    <a href="/projects">{{ len $allProjects }} projects</a>.
  </p>
  <div class="projects-grid">
    {{ range $projects }} {{ partial "project-card.html" (dict "page" .) }} {{
    end }}
  </div>
</section>
{{ end }}
