<section class="flaneur-inpage-box">
  <h1>Newsletter</h1>
  <p><em>The Flâneur</em> is an even more meandering version of this website and perhaps the best way to follow me &mdash; <a href="https://www.instagram.com/totocaster/">Instagram</a> is also a-okay too.</p>
  <div class="email-subscribe">
    <form
      class="js-cm-form"
      id="cm-form-home"
      action="https://www.createsend.com/t/subscribeerror?description="
      method="post"
      data-id="191722FC90141D02184CB1B62AB3DC26F7C416DE30A85B0B53BD94B6BBB579944F5715088DFCFDDBAF132E94DB6E2DA0EC5A3D9818CF7742D73716649E3ABF04"
    >
      <input autocomplete="Email" class="js-cm-email-input qa-input-email" id="cm-email-home" maxlength="200" name="cm-tyithrl-tyithrl" required="" type="email" />
      <button type="submit">Subscribe</button>
    </form>
    <div class="promise">
      <p>Dispatched around once a month. One click to unsubscribe. Or, browse the <a href="/newsletter/">archive</a> first:</p>
    </div>
  </div>
  {{ $issues := first 5 (sort (where .Site.RegularPages "Section" "flaneur") "Date" "desc") }}
  {{ if gt (len $issues) 0 }}
    <ul class="issue-list">
      {{ range $issues }}
        <li>
          <span class="issue-number">
            #{{ printf "%03s" .File.BaseFileName }} &sdot; <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01" }}</time>
          </span>
          <a class="issue-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
  {{ partial "campaign-monitor-script.html" . }}
</section>
