<section class="flaneur-box">
  <p>Not subscribed to <a href="/newsletter/">The Flâneur</a>? Subscribe to get the next dispatch in your inbox.</p>
  <p>The Flâneur is a newsletter about my work, photography, books, making, and walking.</p>
  <div class="email-subscribe">
    {{ partial "subscribe-form.html" (dict "id" "article") }}
    <div class="promise">
      <p>Once a month. One click to unsubscribe.</p>
      <p>Browse the complete <a href="/newsletter/">archive</a>.</p>
    </div>
  </div>
  {{ partial "campaign-monitor-script.html" . }}
</section>
