<section class="flaneur-inpage-box">
  <h1>Newsletter</h1>
  <p><em>The Flâneur</em> is an even more meandering version of this website and perhaps the best way to follow me &mdash; <a href="https://www.instagram.com/totocaster/">Instagram</a> is also a-okay too.</p>
  <div class="email-subscribe">
    {{ partial "subscribe-form.html" (dict "id" "home") }}
    <div class="promise">
      <p>Seasonal, not monthly. One click to unsubscribe. Or, browse the <a href="/newsletter/">archive</a> first:</p>
    </div>
  </div>
  {{ $issues := first 5 (sort (where .Site.RegularPages "Section" "flaneur") "Date" "desc") }}
  {{ if gt (len $issues) 0 }}
    <ul class="rows">
      {{ range $issues }}
        {{ partial "row.html" (dict
          "meta" (printf `#%03s · <time datetime="%s">%s</time>` .File.BaseFileName (.Date.Format "2006-01-02") (.Date.Format "2006-01") | safeHTML)
          "url" .RelPermalink
          "title" .Title
        ) }}
      {{ end }}
    </ul>
  {{ end }}
  {{ partial "campaign-monitor-script.html" . }}
</section>
