<section class="get-in-touch socials">
  <h1>Get in touch</h1>
  <p>Best way to reach me is via <a href="mailto:toto@ttvl.co">email</a>.</p>
  <p>
    For following:
    <a href="/newsletter/" aria-label="Newsletter" title="Newsletter"
      >newsletter</a
    >, then <a href="/index.xml" aria-label="RSS" title="RSS">RSS</a>, then
    <a
      href="https://instagram.com/totocaster"
      aria-label="Instagram"
      title="Instagram"
      >Instagram</a
    >, then
    <a
      rel="me"
      href="https://mastodon.social/@ttt"
      aria-label="Mastodon"
      title="Mastodon"
      >Mastodon</a
    >.
  </p>
</section>
