{{ $page := .page }}
{{ $proj := $page.Params.project }}
{{ $desc := or (and $proj $proj.description) $page.Params.description }}
{{ $img := and $proj $proj.image }}
{{ $cat := and $proj $proj.category }}
<div class="project-card">
  <div class="project-image">
    {{ with $img }}
    <a href="{{ $page.RelPermalink }}">
      <img src="{{ . }}" alt="{{ $page.Title }}" loading="lazy" />
    </a>
    {{ end }}
  </div>
  <div class="project-meta">
    <a class="project-title" href="{{ $page.RelPermalink }}">{{ $page.Title }}</a
    >{{ if $desc }} &ndash; {{ $desc }}{{ end }}
  </div>
  {{ with $cat }}
  <div class="project-category">
    {{ $catText := trim . "/" }}
    <a href="/{{ $catText }}">{{ $catText }}</a>
  </div>
  {{ end }}
</div>
