{{ $notes := first 5 (sort (where .Site.RegularPages "Section" "notes") "Date" "desc") }}
{{ if gt (len $notes) 0 }}
  <section class="recent-notes">
    <h1>Notes</h1>
    <ul class="issue-list">
      {{ range $notes }}
        <li>
          <span class="issue-number">
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
          </span>
          <a class="issue-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
