<section class="subscribe">
  <div class="tier monthly-tier">
    <div class="tier-name">
      <h2><a href="{{ .Site.Params.subscription.monthly }}">Monthly</a></h2>
      <div class="price">$10</div>
    </div>
    <div class="tier-benefits">
      <ul>
        <li>Digital access to <a href="https://toto.photo/folio-editions" class="emphasis">Folio Editions</a>.</li>
        <li>Members-only Insider Newsletter.</li>
        <li>Full-access to members-only <a href="https://members.ttvl.co" class="emphasis">website</a>.</li>
        <li>Wallpaper photos from my long walks.</li>
        <li>Digital copy of my first indie book — <a href="https://toto.photo/maquettes#catch-32">Catch-32</a>.</li>
      </ul>
    </div>
  </div>

  <div class="tier yearly-tier">
    <div class="tier-name">
      <h2><a href="{{ .Site.Params.subscription.yearly }}">Yearly</a></h2>
      <div class="price">$100</div>
    </div>
    <div class="tier-benefits">
      <ul>
        <li>All monthly perks.</li>
        <li><strong>Physical</strong> <a href="https://toto.photo/folio-editions">Folio Editions</a> shipped worldwide.</li>
        <li>50% discount for previous Folio Editions.</li>
        <li>10% discount on <a href="https://jinnystreetgallery.com" >Jinny Street Gallery</a> store.</li>
        <li>Exclusive discounts on all future books.</li>
      </ul>
    </div>
  </div>
</section> 